<h3>Zoom Emissions</h3>
<div class="row">
  <p>Input the data according to your average usage.
    You can calculate this for every lecture or as an average over a week.
    If you have not used any of these services, leave it empty.
  </p>
  <p>The input values can overlap, meaning if you have 1 hour of screenshare and listening, you input 1 hour in the first and 1 hour in the second field.</p>
  <p>Note that this provides a lower-bound of your usage and some factors aren't taken into consideration.
    (such as video quality, we always assume its the lowest.)</p>

  <ul>
    <li><b>Listening or Talking</b>: This field counts the hours by just being in a Zoom meeting and listening to someone (for example a lecture) or talking. </li>
    <li><b>Screenshare</b>: Add how many hours you spent watching someone sharing their screen or you yourself sharing your screen.</li>
    <li><b>Webcam usage</b>: The amount of hours you have watched one or several persons using the webcam or you have used the webcam yourself.</li>
  </ul>
  <form class="col s12">
    <span class="input-field-text">Listening or Talking</span>
    <div class="row">
      <div class="input-field col s12">
        <input id="hours_on_zoom_listening" name="hours_on_zoom" type="number" class="validate" min="0" [(ngModel)]="data.listeningTime" (focusout)="save()">
      </div>
    </div>

    <span class="input-field-text">Screenshare</span>
    <div class="row">
      <div class="input-field col s12">
        <input id="hours_on_zoom" name="hours_on_zoom" type="number" class="validate" min="0" [(ngModel)]="data.screenShareTime" (focusout)="save()">
      </div>
    </div>

    <span class="input-field-text">Webcam usage</span>
    <div class="row">
      <div class="input-field col s12">
        <input id="hours_on_zoom_webcam" name="hours_on_zoom" type="number" class="validate" min="0" [(ngModel)]="data.webcamTime" (focusout)="save()">
      </div>
    </div>
  </form>
</div>

<hr>
<div class="row">
  <div class="col s12">
    <a [routerLink]="['/computer_emissions']" (click)="save()">
      <button class="btn grey darken-2" style="margin-right: 10px">
      Continue to Computer Emissions
      </button>
    </a>
    <button class="btn grey darken-2" (click)="reset()">Reset Values</button>
  </div>
</div>
