

.input-field-text {
  font-size: 1.5rem;
}

.radio-buttons {
  margin-right: 20px;
}

/* label color */
.input-field label {
  color: gray !important;
}
/* label focus color */
.input-field input[type=number]:focus + label {
  color: darkgray !important;
}
/* label underline focus color */
.input-field input[type=number]:focus {
  border-bottom: 1px solid #64b5f6;
  box-shadow: 0 1px 0 0 #64b5f6;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #64b5f6;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #64b5f6;
}
/* valid color
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}*/
/* invalid color
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}*/
/* icon prefix focus color
.input-field .prefix.active {
  color: green;
}*/
