#header {
  background-color: #bbdefb;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  height: 70px;
}

#header #title {
  max-width: 800px;
  margin: 0 auto 1em auto;
  padding-top: 0.8rem;
  font-size: 2.92rem;
  line-height: 110%;
}

#header #title a {
  color: black;
}

#wrapper {
  max-width: 800px;
  margin: 0 auto 1em auto;
  padding: 5px;
}
