/* You can add global styles to this file, and also import other style files */
body {
  font-size: 1.1rem;
}

.input-field-text {
  font-size: 1.5rem;
}

.radio-buttons {
  margin-right: 20px;
}

/* label color */
.input-field label {
  color: gray !important;
}
/* label focus color */
.input-field input[type=number]:focus + label {
  color: darkgray !important;
}
/* label underline focus color */
.input-field input[type=number]:focus {
  border-bottom: 1px solid #64b5f6;
  box-shadow: 0 1px 0 0 #64b5f6;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #64b5f6;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #64b5f6;
}
